<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>Hello everyone!</h2>
        <p>I'm a web developer living in Japan, who graduated LeWagon bootcamp in December 2023.
        </p>
      </div>
    </div>
  </div>
</div>
