<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>Hello everyone!</h2>
        <p>I'm a web developer living in Japan, who graduated from Le Wagon bootcamp in December 2023.
          As an alumnus, my passion is to stay continuously learning and create new, interesting web applications.
          Feel free to explore my portfolio of projects, and don't hesitate to reach out—I'm always open to exciting collaboration opportunities!
        </p>
      </div>
    </div>
  </div>
</div>
