<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>Hello everyone!</h2>
        <p>
          Feel free to explore my portfolio of projects, and don't hesitate to reach out—I'm always open to exciting collaboration opportunities!
        </p>
      </div>
    </div>
  </div>
</div>
