<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag "/images/profile.jpg", alt: "profile photo", class: "avatar-large" %>
    <h1 class="title-main">Mario Paju</h1>
  </div>
</div>
