#about {
  padding: 20px;
  transition: background-color 0.3s ease;
  background-color: black;
  border-radius: 10px;
  border: 5px solid #A9C8D4;
  color: white;
}

#about h2 {
  font-weight: bold;
}
