.cards {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-product:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.card-product img {
  height: 100%;
  max-width: 100%;
  width: 160px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin: 0;
  // margin-bottom: 0;
  // margin-top: 0px;
  font-weight: bold;
}

.card-product .card-product-infos {
  flex-grow: 1;
  padding: 16px;
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.external-link {
  margin-left: 8px;
  opacity: 0;
  color: $gray;
  transition: opacity 1s;
  &:hover {
    cursor: pointer;
    color: $gray
  }
}


@media (max-width: 767px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-product {
    flex-direction: column;
    height: auto;
  }

  .card-product img {
    border-radius: 15px 15px 0 0;
  }

  .external-link {
    opacity: 1;
  }
}


@media (min-width: 768px) and (max-width: 1199px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
