.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-product:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.card-product img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}

.external-link {
  margin-left: 8px;
  opacity: 1;
  color: $gray;
  transition: opacity 1s;
}

.external-link:hover {
  cursor: pointer;
  color: $gray;
}

/* Responsive styles */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

  /* Adjusted button styles for better visibility on mobile */
  .btn-flat {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(88, 171, 139, 1) 30%);
    color: white;
    padding: 8px 12px; /* Adjusted padding for smaller screens */
    font-size: 12px; /* Adjusted font size for smaller screens */
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  }

  .btn-flat:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(88, 171, 139, 0.8) 30%);
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted grid for larger screens */
  }
}

/* Larger screens */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjusted grid for larger screens */
  }
}
