.topnav {
  background-color: #424242;
  display: flex;
}

.topnav a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid #A9C8D4;
  flex-grow: 1;
  text-align: center;
  transition: border-color 0.7s ease, color 0.7s ease;
}

.topnav a:hover {
  border-color: gray;
  color: gray;
}

@media only screen and (max-width: 600px) {
  .topnav {
    flex-direction: column;
  }
}
