// Title name on main page

.title-main {
  margin-top: 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 767px) {
  .responsive-name {
    font-size: 24px;
  }
}
